body {
    text-align: center;
    /* font-family: 'Segoe UI'; */
    /* font-size: 16px; */
}

table {
    margin: auto;
}

th {
    font-weight: normal;
    background-color: lightgrey;
}

td {
    vertical-align: top;
}

td input {
    width: 90%;
}

td textarea {
    width: 95%;
    /* margin-right: 10px; */
    /* font-family: 'Segoe UI'; */
    /* font-size: 16px; */
}

td button {
    /* margin-right: 3px; */
    margin-left: 3px;
}